#meni ul li {
    display: inline;
    padding: 3px;
} 
#meni ul {
    margin: 0;
} 
.smjer {
    float: left;
    width: 25%;
    box-sizing: border-box;
}
#meni {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 14px;
}
body {
    margin: 0;
}
