#meni ul li {
    display: inline;
    padding: 3px;
} 
#meni ul {
    margin: 0;
}
#meni a {
    color: white;
    text-decoration: none;
} 
#meni a:hover {
    background-color: gray;
}
.smjer {
    float: left;
    width: 25%;
    box-sizing: border-box;
}
#meni {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 14px;
    background-color: black;
    
}
.bsc_1, .bsc_2, .bsc_3, .msc_1, .msc_2, .rs_1, .rs_2 {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 10px;
    gap: 10px;
}
h1, h2 {
    text-align: center;
}
.redovni_predmet {
    padding: 20px;
    background-color: white;
    text-align: center;
}
.izborni_predmet {
    padding: 20px;
    background-color: powderblue;
    text-align: center;
}
.neaktivni_predmet {
    padding: 20px;
    background-color: gray;
    text-align: center;
}
#ri {
    margin-top: 130px; 
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
