.tabela, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.red {
   height: 40px; 
}
.tabela {
    width: 100%;
}
.zeleno {
    background-color: rgb(69, 190, 69);
}
.crveno {
    background-color: rgb(245, 65, 65);
}