body {
    margin: 0;
}
#meni {
    display: flex;
    background-color: black;
    padding: 10px;
    position: sticky;
    top: 0;
}
#meni > .smjer {
    flex-basis: 100%;
    text-align: center;
}
#meni ul li {
    list-style: none;
    display: inline;
    padding: 3px;
}
#meni a {
    text-decoration: none;
    color: white;
}
#meni a:hover {
    background-color: gray;
}
.bsc_1, .bsc_2, .bsc_3, .msc_1, .msc_2, .rs_1, .rs_2 {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(200px,200px));
    padding: 10px;
    gap: 10px;
}
h1, h2 {
    text-align: center;
}
.redovni_predmet {
    padding: 10px;
    background-color: white;
    text-align: center;
}
.izborni_predmet {
    padding: 10px;
    background-color: powderblue;
    text-align: center;
}
.neaktivni_predmet {
    padding: 10px;
    background-color: gray;
    text-align: center;
}
#ri {
    margin-top: 50px; 
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width: 770px) {
    #meni {
        flex-direction: column;
        position: static;
    }
    #meni > .smjer {
        flex-basis: auto;
        text-align: left;
    }
}
html {
    scroll-padding-top: 170px;
}