table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 0;
}
#table {
    margin-left: 40px;
    margin-right: 40px;
}

table {
    width: 100%;
}

td > table > tr > td{
    height: 50px;
}

.fa-solid {
    padding: 20px;
}

.trenutnoPolje {
    width: 35px;
}

/*
.red {
   height: 40px; 
}
.zeleno {
    background-color: rgb(69, 190, 69);
}
.crveno {
    background-color: rgb(245, 65, 65);
}
.imena {
    width: 18%;
}
.indexi {
    width: 10%;
}
.ostale {
    width: 30%;
}*/